snippet bug "Insert a picture of a bug." b
       / .'
 .---. \/
(._.' \()
 ^"""^"
endsnippet

snippet bugj "Insert a picture of a bug in a jar." b
      ___
    \ | | /
 ____\\\_//____
/             \
|             |
|        / .' |
|  .---. \/   |
| (._.' \()   |
|  ^"""^"     |
\_____________/
endsnippet
